<ul class="nav">
  <li><a href="/" class="home">Mantri</a></li><li><a href="/Teaching" class="Teaching">Teaching</a></li><li><a href="/Publication" class="Publication">Publication</a></li><li><a href="/Speaking">Speaking</a></li><li><a href="/About">About</a></li>
</ul>
