---
title: About Atul Mantri
description: A little more about Atul...
pageClass: "bright-theme theme-nearwhite"
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>A little about <span class="no-wrap">Atul Mantri</span></h1>
  <img class="avatar-large" src="/images/atulmantri.jpg" alt="Atul Mantri's face" />
{% endblock %}


{% block content %}
<p>
    This site is the online home of Atul Mantri. 
</p>
<hr />

<h2 id="about-me">👋 Thanks for stopping by</h2>
<p>
  I have been working in the field of quantum computation for almost a decade.
</p>
<p>
 I am a postdoctoral associate in the Joint Center for Quantum Information and Computer Science <a href="https://quics.umd.edu/">QuICS</a> at University of Maryland. <a href="https://scholar.google.com.sg/citations?hl=en&pli=1&user=Xnm7lvQAAAAJ">Google Scholar</a>  <a href="https://arxiv.org/search/?query=atul+mantri&source=header&searchtype=all">arXiv</a>.
</p>
<p>
My research interests lie in the field of quantum computation and quantum information. I have actively worked on the design of delegated quantum computing protocols and questions related to quantum foundations.  
</p>
<p>
In particular, I am interested in the interplay of cryptography and quantum correlations in various quantum cryptographic tasks.
</p>

<h2 id="home-in-the-world">Home in the world</h2>
<p>
  I was born in Jodhpur <a href="https://en.wikipedia.org/wiki/Jodhpur">Jodhpur</a>, a small town in western part of India. Currently, I live with my partner, Ashima, and my adorable cat, Simba. 
</p>
<p>
  If you want to know more, you can <a href="/ask-me">ask me anything</a>.
</p>


{% endblock %}


