---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>Mantri</h1>  
  </p>
  <p>
    A home on the web for <a href="/about" class="no-wrap">Atul Mantri</a>, a researcher.
  </p>
{% endblock %}

{% block content %}
  <p>
    You can usually find me on... 
  </p>
  <p>
    Wherever you find me, online or in the real world, please do come and say a friendly hello.
  </p>

  <hr />

  <h2><a href="/blog">Recently on the blog</a></h2>
  {% set item = collections.posts | first %}
  {% include 'post-teaser.njk' %}

  <hr />

  {% if notist.events.future.length %}
  {% set item = notist.events.future | last %}
  <h2><a href="/speaking#upcoming">Next conference appearance</a></h2>
  {%- include "event.njk" -%}
  {% endif %}


{% endblock %}

